<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/recipes.css">
  </head>

  <body>
    {{> header}}

    <div class="filter-link">
      <form class="filter-form">
        <label for="vegan">Dietary Preference:</label>
        <select name="vegan" id="vegan">
          <option value="none">None</option>
          <option value="vegan">Vegan</option>
        </select>
        
        <label for="allergy">Allergy:</label>
        <select name="allergy" id="allergy">
          <option value="none">None</option>
          <option value="gluten">Gluten</option>
          <option value="dairy">Dairy</option>
          <option value="nut">Nut</option>
        </select>

        <a href="/recipes/meals" id="meals-filter">Filter</a>
        <a href="/recipes/meals" id="remove-meal-filters">Remove filters</a>
      </form>

      <a href="/recipes/juices" id="other-page">View Juices</a>
    </div>

    <div class="parent-recipe">
      {{#if img}}
        <h1>Oops! There are no recipes for those filters!</h1>
        <img src="{{img}}">
      {{/if}}
      <h1>{{breakfastTitle}}</h1>
      <div class="recipe-box">
        {{#each breakfast}}
          <div>
            <h2>{{name}}</h2>
            Ingredients:

            <ul>
            {{#each ingredients}}
              <li>{{this}}</li>
            {{/each}}
            </ul>
              
            Instructions:
            <p>{{instructions}}</p>
          </div>
        {{/each}}
      </div>

      <h1>{{lunchTitle}}</h1>
      <div class="recipe-box">
        {{#each lunch}}
          <div>
            <h2>{{name}}</h2>
            Ingredients:

            <ul>
            {{#each ingredients}}
              <li>{{this}}</li>
            {{/each}}
            </ul>
              
            Instructions:
            <p>{{instructions}}</p>
          </div>
        {{/each}}
      </div>

      <h1>{{dinnerTitle}}</h1>
      <div class="recipe-box">
        {{#each dinner}}
          <div>
            <h2>{{name}}</h2>
            Ingredients:

            <ul>
            {{#each ingredients}}
              <li>{{this}}</li>
            {{/each}}
            </ul>
              
            Instructions:
            <p>{{instructions}}</p>
          </div>
        {{/each}}
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>